.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    backdrop-filter: blur(2px);
}

.overlay .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(250px, 90%, 400px);
    padding: 25px;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 7px;
}

.overlay .modal-title {
    display: block;
    width: 100%;
    text-align: center;
}

.overlay .modal-body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 20px;
}

.overlay .modal-action {
    background-color: var(--primary);
    color: #FFF;
}

.overlay .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('/icons/close.svg');
}