input {
    height: 50px;
    min-width: 200px;
    padding: 5px 10px;
    border: 1px solid var(--light-grey);
    border-radius: 7px;
}

input::placeholder {
    color: var(--light-grey);
}

input:focus, input:active {
    border-color: var(--primary);
}