.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    padding: 30px 5%;
}

.home-container .new-note {
    width: fit-content;
}
.home-container .new-note .text {
    color: var(--accent);
}

.home-container .notes-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    gap: 25px;
    width: 100%;
}

.home-container .load-notes {
    width: 100%;
    background-color: transparent;
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

@media screen and (min-width: 600px) {
    .home-container .notes-container {
        grid-template-columns: repeat(2, 50%);
    }

    .home-container .load-notes {
        align-self: flex-end;
        width: 150px;
    }
}

@media screen and (min-width: 900px) {
    .home-container .notes-container {
        grid-template-columns: repeat(auto-fill, clamp(320px, 30%, 400px));
    }
}