@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

:root {
    --primary: #0099EF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
}

a {
    text-decoration: none;
    font-size: 14pt;
}

@media (min-width: 600px) {
    a {
        font-size: 22pt;
    }
}

@media (min-width: 900px) {
    a {
        font-size: 16pt;
    }
}