@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

:root {
    --primary: #0099EF;
    --accent: #0C6;
    --dark-grey: #222;
    --light-grey: #AAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;
    color: var(--dark-grey);
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    font-size: 14pt;
}

button {
    cursor: pointer;
}

@media (min-width: 600px) {
    a {
        font-size: 22pt;
    }
}

@media (min-width: 900px) {
    a {
        font-size: 16pt;
    }
}