svg {
    max-width: 100vw;
}

.orbit {
    animation: spin 20s linear infinite;
    transform-origin: center;
}

.thunder-bolt {
    animation: resize 800ms ease-in alternate infinite;
    transform: scale(0.75);
    transform-origin: center;
}

@keyframes spin {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(0.75) rotate(360deg);
    }
}

@keyframes resize {
    to {
        transform: scale(0.5);
    }
}