.note-card {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-shadow: 0px 1px 10px 1px #0004;
    border-radius: 7px;
}

.note-card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-card .sub-title {
    color: var(--primary);
    font-size: 20pt;
}

.note-card .action-container {
    display: flex;
    column-gap: 10px;
}

.note-card .note-action {
    width: 25px;
    aspect-ratio: 1;
    background-color: transparent;
}

.note-card .note-action.edit {
    background-image: url('/icons/edit.svg');
}
.note-card .note-action.delete {
    background-image: url('/icons/delete.svg');
}