@use '@styles/palette';

.input-wrapper {
    position: relative;
    min-width: 200px;
    
    .custom-input {
        height: 50px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid palette.$light-grey;
        border-radius: 7px;

        &::placeholder {
            color: palette.$light-grey;
        }

        &:focus, &:active {
            border-color: palette.$primary;
        }
    }

    .password-toggle {
        position: absolute;
        top: 50%;
        right: 5%;
        width: 25px;
        height: 25px;
        transform: translateY(-50%);
        background-size: contain;
        background-color: transparent;

        &.show {
            background-image: url('/icons/password-show.svg');
        }
        &.hide {
            background-image: url('/icons/password-hide.svg');
        }
    }
}