.text {
    font-size: 14pt;
}
.sub-title {
    font-size: 20pt;
}
.title {
    font-size: 30pt;
}

@media (min-width: 600px) {
    .text {
        font-size: 22pt;
    }
    .sub-title {
        font-size: 36pt;
    }
    .title {
        font-size: 52pt;
    }
}

@media (min-width: 900px) {
    .text {
        font-size: 14pt;
    }
    .sub-title {
        font-size: 24pt;
    }
    .title {
        font-size: 40pt;
    }
}