#default_layout {
    margin-top: clamp(75px, 10vh, 100px);

    nav {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: clamp(75px, 10vh, 100px);
        padding: 0 5%;
        background-color: var(--dark-grey);
    }

    .logo {
        height: 80%;
        cursor: pointer;
    }

    .profile-icon {
        height: 80%;
        aspect-ratio: 1;
        background-color: transparent;
        background: url('/icons/user.svg') no-repeat center;
        background-size: 70%;
    }

    .options {
        position: absolute;
        top: 100%;
        right: 0;
        width: 180px;
        list-style: none;
        background-color: var(--dark-grey);

        .option {
            padding: 5px 10px;
            color: var(--primary);
            text-align: right;
            cursor: pointer;
        }
    }
}