#user_layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.logo {
    align-self: center;
    width: 125px;
    margin-top: 50px;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    margin-top: 30px;
}

.invite {
    margin-top: 30px;
}
.invite a {
    margin-left: 10px;
}

.link {
    color: var(--primary);
}